@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@theme {
  --color-primary: #000000;
  --color-primary-hover: #27272a;
  --color-background-dark: #ffffff;
  --color-card-dark: #ffffff;
  --color-text-primary: #09090b;
  --color-text-secondary: #71717a;
}
